<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <div class="header">
        <h1>Home Page</h1>
    </div>
    <div class="title">
        Select your game 
    </div>
    
    <div class="card" >
        
        <div class="cardBody">
            <img src="/static/XO.jpg" class="card-img-top" >
            <h3 class="card-title">X and O</h3>
            <p class="card-text">Play the classic Tic-Tac-Toe game (also called Noughts and Crosses) for free online with one or two players.</p>
            <a class="gameBtn" href="/ticTakToe" style="text-decoration: none;">Play</a>
        </div>       
        
            
        <div class="cardBody">
            <img src="/static/RPS.jpg" class="card-img-top" >
            <h3 class="card-title">Rock,Paper,scissors</h3>
            <p class="card-text">A classic game - Rock, Paper, Scissors! Choose one of the three choices - and see if you can beat the computer. Will you win? The chance is random!</p>
            
            <a class="gameBtn" href="/rockPaperScissors" style="text-decoration: none;">Play</a>
            
        </div>
        
    </div>
    

</body>
</html>