{% extends "student/base.html" %}
{%load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'student\resources.css' %}">
{% endblock css %}

{% block sideBar %}


<div class="settings">
  <a href="{% url 'student:settings' %}">
    <i class="fa-solid fa-gear" id="sett"></i>
  </a>

</div>
{% endblock sideBar %}

{% block mainBody %}
    <div class='up'>
        <div class="link-section front-end">
            <h2>Front-End Links</h2>
            <div class="frontEndLinks">
                <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">Html</a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">Css</a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">JavaScript</a>
                <a href="https://books.google.co.in/books?hl=en&lr=&id=XyNIEAAAQBAJ&oi=fnd&pg=PR11&dq=articles+on+project+management+in+educational+institutes&ots=UV2-RiJiCU&sig=r_StAuYgMM_Yco9dithmxbtJn_I#v=onepage&q=articles%20on%20project%20management%20in%20educational%20institutes&f=false" target="_blank">Projet Management</a>
            </div>
        </div>
        <div class="link-section back-end">
            <h2>Back-End Links</h2>
            <div class="backEndLinks">
                <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django" target="_blank">Django Mdn</a>
                <a href="https://docs.djangoproject.com/en/5.1/" target="_blank">Django</a>
                <a href="https://developer.mozilla.org/en-US/docs/Glossary/Python" target="_blank">Python Mdn</a>
                <a href="https://developer.mozilla.org/en-US/docs/Glossary/PHP" target="_blank">Php Mdn</a>
            </div>
        </div>
    </div>
    <div class="down">
        <div class="link-section personal" style="height: 40vh;">
            <h2>Personal Links</h2>
            <div class="personal">
                <div class="addedLinks">
                    {% for link in links %}
                        <a href="{{link.reference}}" target="_blank">{{link.linkName}}</a>
                    {% endfor %}
                </div>
                <button id= "addLink" name="addLink">add link</button>
                <div id="myPopup" class="popup">
                    <span class="close" onclick="closePopup()">&times;</span>
                        <br>
                    <form method="post" action="/studentPage/resources/" >
                        {% csrf_token %}
                        <label for="linkName" style="color: #49A078;font-weight: bold;font-size: 19px;">Link Name</label>
                        <input type="text" id="linkName" name="linkName" style="margin: 10px;margin-right: 10rem;">
                        <label for="refLink" style="color: #49A078;font-weight: bold;font-size: 19px;">Reference Link</label>
                        <input type="text" id="refLink" name="refLink" style="margin: 10px;margin-right: 3rem;">
                        <button class="submitLink" type="submit" name="submitLink">Submit Link</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock mainBody %}

{% block resScript %}
    <script src="{% static 'student\resources.js' %}"></script>
{% endblock resScript %}