{% extends "guide.html" %}
{% load static %}

{% block subBody %}
<div class="fileView">
    <h1>File Content</h1>

    <h2>{{ file.file.name }}</h2>
    <p><strong>Group Code:</strong> {{ file.group_code.groupCode }}</p>
    <p><strong>Uploaded on:</strong> {{ file.upload_date }}</p>

    <pre>{{ file.content }}</pre>  <!-- Display the file content in a preformatted block -->

    <a href="{% url 'guide:studentView' %}?button_value={{ file.group_code.groupCode }}">Back to File List</a>
</div>

    <div class="guideComment">
        <form action="" method="post">
            {% csrf_token %}
            <label for="comment">Enter Comment</label>
            <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Comment"></textarea>
            <input type="submit" value="Submit" class="submitBtn" id="submitBtn">
        </form>
    </div>


{% endblock subBody %}