{% extends "eval.html" %}
{% load static %}
{% block subcss %}
<link rel="stylesheet" href="{% static '\evalFileView.css' %}">
{% endblock subcss %}

{% block subMainBody %}
<div class="main-content">
    <h1>File Content</h1>

    <h2>{{ file.file.name }}</h2>
    <p><strong>Group Code:</strong> {{ file.group_code.groupCode }}</p>
    <p><strong>Uploaded on:</strong> {{ file.upload_date }}</p>

    <pre>{{ file.content }}</pre>  <!-- Display the file content in a preformatted block -->

    <a href="{% url 'evaluator:studentView' %}?button_value={{ file.group_code.groupCode }}">Back to File List</a>
</div>
    
{% endblock subMainBody %}

