{% extends "eval.html" %}
{% load static %}
{% block subcss %}
<link rel="stylesheet" href="{% static '\studentGroup.css' %}"> 
{% endblock subcss %}


{% block subMainBody %}
    <div class="filter">
        <form action="" method="post">

            {% csrf_token %}
            <select class="dropDown" name="sem" id="sem" >
                <option value="" selected disabled hidden>--select--</option>
                <option value="MI1">Second Year:Mini Project:SEM 1</option>
                <option value="MN1">Third Year:Minor Project:SEM 1</option>
                <option value="MA1">Last Year:Major Project:SEM 1</option>
                <option value="MI2">Second Year:Mini Project:SEM 2</option>
                <option value="MN2">Third Year:Minor Project:SEM 2</option>
                <option value="MA2">Last Year:Major Project:SEM 2</option>
            </select>

            <select class="dropDown" name="branch" id="branch" >
                <option value="" selected disabled hidden>--select--</option>
                <option value="COMPS">COMPS</option>
                <option value="IT">IT</option>
                <option value="AIDS">AIDS</option>
                <option value="EXTC">EXTC</option>
            </select>
            
            <button class="filterBtn" type="submit"><i id = "filterIcon" class="fa-solid fa-filter" style="padding: 0;"  ></i></button>
        </form>
    </div>
    <div class="mainBody">
        <div class="tableBody">
            <div class="tableHead">

            </div>
            <div class="line">
            {% for group in data %}
                <a href="{% url 'evaluator:studentView' %}?button_value={{group.groupCode}}">
                    <button title="groupButton" class="groupButton" value="{{group.groupCode}}">
                        {{group.groupCode}}
                        {{group.projectName}}
                    </button>
                </a>
            {% endfor %}
            </div>
            
        </div>
    </div>    
{% endblock subMainBody %}

