{% extends "eval.html" %}
{% load static %}

{% block subMainBody %}
<h2>Code Files</h2>
<ul>
    {% for file in code_files %}
        <li>
            <strong>{{ file.group_code.groupCode }}</strong>: 
            <a href="{% url 'evaluator:view_file_content_eval' 'code' file.id %}">{{ file.file.name }}</a> - Uploaded on {{ file.upload_date }}
            
        </li>
    {% empty %}
        <li>No code files uploaded yet.</li>
    {% endfor %}
</ul>

<h2>Database Files</h2>
<ul>
    {% for file in database_files %}
        <li>
            <strong>{{ file.group_code.groupCode }}</strong>: 
            <a href="{% url 'evaluator:view_file_content_eval' 'database' file.id %}">{{ file.file.name }}</a> - Uploaded on {{ file.upload_date }}
            
        </li>
    {% empty %}
        <li>No database files uploaded yet.</li>
    {% endfor %}
</ul>

<h2>Document Files</h2>
<ul>
    {% for file in document_files %}
        <li>
            <strong>{{ file.group_code.groupCode }}</strong>: 
            <a href="{{ file.file.url }}" target="_blank">{{ file.file.name }}</a> - Uploaded on {{ file.upload_date }}
        </li>
    {% empty %}
        <li>No document files uploaded yet.</li>
    {% endfor %}
</ul>

<h2>Additional Files</h2>
<ul>
    {% for file in additional_files %}
        <li>
            <strong>{{ file.group_code.groupCode }}</strong>: 
            <a href="{{ file.file.url }}" target="_blank">{{ file.file.name }}</a> - Uploaded on {{ file.upload_date }}
        </li>
    {% empty %}
        <li>No additional files uploaded yet.</li>
    {% endfor %}
</ul>

{% endblock subMainBody %}
