{% extends "base.html" %}
{% block title %}Guide{% endblock title %}
{%load static%}
{% block css %}  
  <link rel="stylesheet" href="{% static '\group.css' %}">  
{% endblock css %}

{% block mainBody %}
<div class="rigthSidebar">
  <a href="/guide/groups/" class="groups">
    <i class="fa-solid fa-users-line"></i>
  </a>
  <a href="/guide/addGroup/" class="add_groups">
    <i class="fa-solid fa-user-plus"></i>
  </a>
  <a href="https://docs.google.com/spreadsheets/d/1YnqOlaZKP39wvaWfyawIa1ips3y2aDUQrZhXNgP64g4/edit">
    <i class="fa-solid fa-table"></i>
  </a>
  <div class="settingicon">
    <a href="{% url 'guide:settings' %}">
      <i class="fa-solid fa-gear" id="sett"></i>
    </a>
  </div>
</div>

<div class="mainBodyGuide">
  {% block subBody %}

  {% endblock subBody %}
  
</div>


{% endblock mainBody %}

