{% extends "student\base.html" %}
{%load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'student\upload.css' %}">
{% endblock css %}
{% block css_sub %}
<style>
    #database{
        font-size: 2.5rem;
        color: #dce1de;    
    }
    #database:hover{
        box-shadow: none;
    }
</style>
{% endblock css_sub %}


{% block sideBar %}
<div class="function">
    <a href="{% url 'student:upload_code_file' %}"><i class="fa-regular fa-file-code" id="code"></i></a>
    <a href="{% url 'student:database' %}"><i class="fa-solid fa-database" id="database"></i></a>
    <a href="{% url 'student:upload_document_file' %}"><i class="fa-solid fa-folder" id="folder"></i></a>
    <a href="{% url 'student:upload_additional_file' %}"><i class="fa-solid fa-paperclip" id="additional"></i></a>
    <a href="{% url 'student:file_list' %}"><i class="fa-regular fa-eye" id="view"></i></a>
</div>
<div class="settings">
    <a href="{% url 'student:settings' %}">
        <i class="fa-solid fa-gear" id="sett"></i>
      </a>
</div>
{% endblock sideBar %}
{% block mainBody%}
<div class="mainBodyHead">
    <h3>Upload {{ file_type }} File</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="custom-file-upload">
            <input type="file" name="file" id="file-input" required />
            <label for="file-input">
                <i class="fa-solid fa-upload"></i> Choose File
            </label>
            <div class="filename">
            <span id="file-name">No file chosen</span>
            </div> <!-- Span to show selected file name -->
        </div>
        <button type="submit">Upload</button>
    </form>    
</div>   
<script>
    // JavaScript to update the displayed file name
    document.getElementById('file-input').addEventListener('change', function() {
        const fileName = this.files[0] ? this.files[0].name : 'No file chosen';
        document.getElementById('file-name').textContent = fileName;
    });
</script>
{% endblock mainBody %}

