<!DOCTYPE html>
{% extends "student\base.html" %}
{%load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'student\projectview.css' %}">
{% endblock css %}
{% block css_sub %}
<style>
    #search{
        font-size: 32px;
        color: #49A078;
    }
    #upload{
        color: #ffffff;
        text-decoration: none;
        font-size: x-large;
    }
</style>
{% endblock css_sub %}
{% block sideBar %}
<div class="function">
    <a href"#"><i class="fa-solid fa-bookmark" id="fav" style="padding-left: 26px; width: 80px;"></i></a>
</div>
<div class="settings">
    <i class="fa-solid fa-gear" id="sett"></i>
</div>
{% endblock sideBar %}
{% block mainBody%}

    <h2>Code Files</h2>
    <ul>
        {% for file in code_files %}
            <li>
                <strong>{{ file.group_code.groupCode }}</strong>: 
                <a href="{% url 'student:view_file_content' 'code' file.id %}">{{ file.file.name }}</a> - Uploaded on {{ file.upload_date }}
                {% if user.username == file.group_code.username %}
                <a href="{% url 'student:edit_file' 'code' file.id %}">Edit</a>
                <a href="{% url 'student:delete_file' 'code' file.id %}" style="color: red; margin-left: 10px;">Delete</a>
                {% endif %}
            </li>
        {% empty %}
            <li>No code files uploaded yet.</li>
        {% endfor %}
    </ul>

    <h2>Database Files</h2>
    <ul>
        {% for file in database_files %}
            <li>
                <strong>{{ file.group_code.groupCode }}</strong>: 
                <a href="{% url 'student:view_file_content' 'database' file.id %}">{{ file.file.name }}</a> - Uploaded on {{ file.upload_date }}
                {% if user.username == file.group_code.username %}
                <a href="{% url 'student:delete_file' 'database' file.id %}" style="color: red; margin-left: 10px;">Delete</a>
                {% endif %}
            </li>
        {% empty %}
            <li>No database files uploaded yet.</li>
        {% endfor %}
    </ul>

    <h2>Document Files</h2>
    <ul>
        {% for file in document_files %}
            <li>
                <strong>{{ file.group_code.groupCode }}</strong>: 
                <a href="{{ file.file.url }}" target="_blank">{{ file.file.name }}</a> - Uploaded on {{ file.upload_date }}
                {% if user.username == file.group_code.username %}
                <a href="{% url 'student:delete_file' 'document' file.id %}" style="color: red; margin-left: 10px;">Delete</a>
                {% endif %}
            </li>
        {% empty %}
            <li>No document files uploaded yet.</li>
        {% endfor %}
    </ul>

    <h2>Additional Files</h2>
    <ul>
        {% for file in additional_files %}
            <li>
                <strong>{{ file.group_code.groupCode }}</strong>: 
                <a href="{{ file.file.url }}" target="_blank">{{ file.file.name }}</a> - Uploaded on {{ file.upload_date }}
                {% if user.username == file.group_code.username %}
                <a href="{% url 'student:delete_file' 'additional' file.id %}" style="color: red; margin-left: 10px;">Delete</a>
                {% endif %}
            </li>
        {% empty %}
            <li>No additional files uploaded yet.</li>
        {% endfor %}
    </ul>

    <!-- Link to upload another file -->
    {% if code_files and user.username == code_files.0.group_code.username %}
    <a href="{% url 'student:upload_code_file' %}">Upload another file</a>
    {% endif %}

{% endblock mainBody %}