<!DOCTYPE html>
{% extends "student\base.html" %}
{%load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'student\edit.css' %}">
{% endblock css %}
{% block css_sub %}
<style>
    #view{
        font-size: 2.5rem;
        color: #dce1de;    
    }
    #view:hover{
        box-shadow: none;
    }
</style>
{% endblock css_sub %}

{% block sideBar %}
<div class="function">
    <a href="{% url 'student:upload_code_file' %}"><i class="fa-regular fa-file-code" id="code"></i></a>
    <a href="{% url 'student:database' %}"><i class="fa-solid fa-database" id="database"></i></a>
    <a href="{% url 'student:upload_document_file' %}"><i class="fa-solid fa-folder" id="folder"></i></a>
    <a href="{% url 'student:upload_additional_file' %}"><i class="fa-solid fa-paperclip" id="additional"></i></a>
    <a href="{% url 'student:file_list' %}"><i class="fa-regular fa-eye" id="view"></i></a>
</div>
<div class="settings">
    <a href="{% url 'student:settings' %}">
        <i class="fa-solid fa-gear" id="sett"></i>
    </a>
</div>
{% endblock sideBar %}
{% block mainBody%}
    <h1>File Content</h1>

    <h2>{{ file.file.name }}</h2>
    <p><strong>Group Code:</strong> {{ file.group_code.groupCode }}</p>
    <p><strong>Uploaded on:</strong> {{ file.upload_date }}</p>

    <pre>{{ file.content }}</pre>  <!-- Display the file content in a preformatted block -->

    <a href="{% url 'student:file_list' %}"class='backto'>Back to File List</a>  <!-- Link to go back to the file list -->

{% endblock mainBody %}
